<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="max-w-7xl mx-auto mt-8 p-2">
        <p class="text-3xl font-bold text-center">AI Chat Message</p>
        <div class="w-full md:flex mt-8">
            <div class="w-full md:w-1/2 p-2">
                <div class="mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow">
                    <form class="space-y-6">
                        <label for="message-to-bot" class="block mb-2 text-sm font-medium text-gray-900">Message to AI</label>
                        <textarea id="message-to-bot" name="message-to-bot" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
                    </form>
                    <div class="mt-2 w-full flex justify-around">
                        <button type="button" id="generate-btn" class="w-24 lg:w-48 items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                            Generate
                        </button>
                        <button type="button" id="clear-btn" class="w-24 lg:w-48 items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300">
                            Clear
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 p-2">
                <div class="mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow">
                    <form class="space-y-6">
                        <label for="message-from-bot" class="block mb-2 text-sm font-medium text-gray-900">Respose of AI</label>
                        <textarea id="message-from-bot" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
                    </form>
                    <div class="mt-2 w-full flex justify-around">
                        <button type="button" id="tag-btn" name="message-from-bot" class="w-full items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-black focus:ring-4 focus:outline-none focus:ring-black-300">
                            Tags
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
        $('#generate-btn').click(function(){
            var message = $('#message-to-bot').val()
            if(message==null || message.trim() == ""){
                alert("Message is empty please input any message.")
                return;
            }

            $.ajax({
                url: '/send_message',
                type: 'POST',
                data: JSON.stringify({data: message}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(response) {
                    // Display the response in the div
                    $('#message-from-bot').val(response.message)
                },
                error: function(xhr) {

                    // Display an error message if the request fails
                    alert('Error: ' + xhr.responseText);
                }
            });
        })

        $('#clear-btn').click(function(){
            $('#message-to-bot').val('')
        })
    })
</script>
</html>